html,
body {
    /* height: 100% */
}

.scrollbar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.scrollbar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgba(144, 147, 153, .3);
}

.scrollbar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background: #EDEDED;
    display: none;
}

.custom-table {
    background: white;
    border: 1px solid #ebeef5;
    width: 100%;
    border-collapse: collapse;
}

.custom-table thead {
    color: #909399;
    background: #ecf5ff;
}

.custom-table tbody {
    color: #606266;
}

.custom-table thead th {
    padding: 12px;
    border-bottom: 1px solid #E1E6EB;
    border-left: 1px solid #E1E6EB;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}

.custom-table td {
    padding: 12px 10px;
    font-size: 13px;
    border-bottom: 1px solid #E1E6EB;
    border-left: 1px solid #E1E6EB;
    vertical-align: middle;
    text-align: center;
}

.custom-table tbody tr {
    transition: all .25s ease
}

.custom-table tbody tr:hover {
    background: #ecf5ff;
}

.custom-table.no-hover tbody tr:hover {
    background: none;
}

.table-title {
    font-size: 20px;
}